<div layout="vertical" layout-fill  layout-align="center">

    <md-content>
        <header>
            <md-toolbar layout="row" layout-align="center center">

                <md-button href="https://github.com/Swiip/generator-gulp-angular">CMMC</md-button>

                <section flex layout="row" layout-align="left center">
                    <md-button href="#" class="md-raised" ng-click>Choice</md-button>
                    <md-button href="#" class="md-raised">Text</md-button>
                </section>

            </md-toolbar>

        </header>

        <section class="jumbotron">
            <h1>{{ command }}</h1>
            <p class="lead">
                <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
            </p>
            <section flex layout="row" layout-align="center">
                <md-button ng-click="enable(1)" href="#" class="md-raised">เปิด</md-button>
                <md-button ng-click="enable(0)" href="#" class="md-raised">ปิด</md-button>
            </section>
            <section flex layout="row" layout-align="center">
                <input ng-model="sendText" type="text"/>
            </section>
            <p class="lead"> {{ sendText }} </p>
            <p class="lead" ng-show="payload"> {{ payload }} </p>
        </section>

        <section flex layout="row" layout-align="center">
            <md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
                <md-select-label>{{ user ? user.name : 'Filter' }}</md-select-label>
                <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
            </md-select>            
        </section>

        <section flex layout="row" layout-align="center">
            <input ng-model="myName[user.name]" type="text"/>
            <md-button ng-click="connect()" href="#" class="md-raised">connect</md-button>
        </section>

        <div layout="column" layout-align="center center" style="height: 100px;">
             <!-- {{ myName }} -->
            <p class="md-caption">Selected: {{ user ? myName[user.name] : 'No one yet' }}</p>
        </div>

    </md-content>


</div>
